<h1>{{heroe.nombre|uppercase}} <small>{{heroe.aparicion | date: 'y'}}</small></h1>

<div class="card-columns">

    <div class="card">

        <div class="card-body">
            <img src="assets/img/spiderman.png" class="card-img-top" alt="spiderman">
            <h5 class="card-title">spiderman</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-primary btn-block">
                ver mas...
            </button>
        </div>
    </div>
</div>